@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Kurale');
@import url('https://fonts.googleapis.com/css?family=El+Messiri');

div.obshii_div{
	width: 80%;
	border: 1px solid #b074ae; 
  background-color: #e7d3f5;

  margin: auto; 
  
}
div.head_zakrep{
	position: fixed; /* Фиксированное положение */
	border: 1px solid #b074ae; 
 background-color: #e7d3f5;
top: 0px;
	margin: auto;
width: 79%;	
}

body 
{
  font: 0.8em Arial, Helvetica, sans-serif; 
  background: #F0F8FF; 
  height: 100%;
}

ul.sp_img_c_4 {
    margin: 0; /* Обнуляем значение отступов */
	margin-right: 50px;
	
	width: 90%;
    padding: 4px; /* Значение полей */
	
   }
   
   ul.sp_img_c_4 li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    /*border: 1px solid #000;  Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
	width: 100px;
	   height: 300px;
	   
	   
	    /*margin-right: 25px;*/
    
   }
   
   

		img.odna_is_4{
			width: 20%;
	   height: 300px;
			
		}
div.obshii_div{
	margin-top: 5%;
	
}
img.id_for_image_sl_hd_cl{
	width: 20%;
	   height: 50px;
	
}
img.id_for_image_spr_hd_cl{
	width: 80%;
	   height: 50px;
	
}

			
div.stroka_div{
		display:inline-block;
			
		}
		
		div.for_razdelenie{
			clear: left;
		}
		
		img.id_for_image_sl_hd{
			width: 100%;
	   height: 300px;
			
		}
		
		img.id_for_image_spr_hd{
			width: 100%;
	   height: 300px;
			
		}
		
		img.id_for_image_c_1{
			width: 100px;
	   height: 300px;
			
		}
		img.id_for_image_c_odna_1{
			width: 100%;
	   height: 300px;
			
		}