
body 
{
  font: 0.8em Arial, Helvetica, sans-serif; 
  background: #F0F8FF; /*&&&*/
  height: 100%;
}


div.obshii_div{
	width: 80%;
	border: 1px solid #b074ae; 
  background-color: #e7d3f5;

  margin: auto; 
  margin-top: 5%;
}

div.head_zakrep{
	position: fixed; /* Фиксированное положение */
	border: 1px solid #b074ae; 
 background-color: #e7d3f5;
top: 0px;
	margin: auto;
width: 79%;	
}

div.stroka_div1{
	
	display:inline-block;
	width: 20%;
	height: 300px;
			
}
div.stroka_div{
		display:inline-block;
			width: 20%;
			height: 50px;
}
div.for_razdelenie{
			clear: left;
}
div.image_header_left{
	display:inline-block;
	width:20%;
	height: 50px;
	
}
div.image_header_right{
	display:inline-block;
	width:50%;
	height: 50px;
	
}
div.centr_spisok{
	width:100%;
	margin-left:8%;
}
div.butilki{
	width:100%;
	height:400px;
}
img.id_for_image_sl_hd_cl{
	width:100%;
	height: 100%;
}
img.id_for_image_spr_hd_cl{
	width:100%;
	height: 100%;
}

img.odna_is_4{
	width:100%;
	height: 100%;
}
img.id_for_image_c_odna_1{
	width:100%;
	height: 100%;
}

/*text-align: center;*/

